
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
}

#content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#content .numbers {
    position: absolute;
    bottom: 1%;
}

.button #btn {
    width: 15vw;
    height: 40px;
    font-size: 20px;
    margin: 20px;
    background-color: rgba(255, 192, 203, 0.7);
    border-radius: 10px;
}

.button #btn:hover {
    background-color: rgb(255, 192, 203);
}

.button #btn:focus {
    border: none;
    outline: none;
}

.bars {
    width: 4%;
    background: rgb(211, 211, 211);
    margin: 4px;
    transition: 0.5s;
}
